
/* 검색창 */
.busstop-search{
    width:80%;
    height:46px;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.busstop-search>input{
    display: block;
    margin: 0 auto;
    width:80%;
    height:100%;
    width:90%;
    border:none;
    font-size: 20px;


    
    

}
.busstop-search>input:focus {
  outline: none;
  border: none;  
}



/* 콘텐츠영역 */
.buslist-contentwrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}
.buslist-contentBox{
    cursor: pointer;
    width:90%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 370px;
    margin-top: 10px;
    
}
.buslist-leftbox{
    width:49px;
    background-color: #DADEDB;
    color:white;
    border-radius: 15px;
    writing-mode: vertical-lr;
    padding: 20px;
    position: relative;
    min-height: 100px;
    
}
.buslist-leftbox > p{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    letter-spacing:5px;
    font-size: 21px;
    
}
.buslist-textwrap{
    width:100%;
    height:100%;
    text-align: left;
    margin-left: 10%;
    padding-bottom: 10px;
}
.buslist-title{
    font-size: 23px;
}
.buslist-number{
    font-size: 20px;
    color:#BCB9B9;
}
.buslist-adress{
    font-size: 20px;
}

.buslist-redBox{
    background-color: #FFBCBC;
    width:42px;
    height:20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}
.buslist-blueBox{
    background-color: #71B3F2;
    width:42px;
    height:20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
}
.color-wrap{
    display: flex;
}
.color-wrap>p{
    margin-left: 10px;
}
