.busstop-conatainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}
.busstop-contentBox{
    width:90%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin: 10px auto;
    max-width: 400px;
    cursor: pointer;
}
.busstop-contentBox:hover{
    transform: translateY(-10px);
}
.busstop-leftbox{
    width:49px;
    background-color: #DADEDB;
    color:white;
    border-radius: 15px;
    writing-mode: vertical-lr;
    padding: 20px;
    position: relative;
    min-height: 100px;
    
}
.busstop-leftbox > p{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    letter-spacing:5px;
    font-size: 21px;
    
}
.busstop-textwrap{
    width:100%;
    height:100%;
    text-align: left;
    margin-left: 10%;
    padding-top: 20px;
}
.busstop-title{
    font-size: 23px;
}
.busstop-number{
    font-size: 20px;
    color:#BCB9B9;
}
.busstop-adress{
    font-size: 20px;
}