
.container{
    width:80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    
}
.mainButton{
    cursor: pointer;
    width:80vw;
    height:222px;
    background-color: white;
    margin:0 auto;
    border-radius: 20px;
    box-shadow: -18px 13px 0px #7AAA89;
    position: relative;
    margin-top: 30px;
    max-width: 400px;
    
   


}
.mainButton:hover{
    transform: translateY(-10px);
}
.mainTitle{
    position: absolute;
    left:20%;
    top:20%;
    
}
.road-imgbox{
    width:300px;
    position: absolute;
    bottom:-48px;
    right:3%;
    
}
.road-imgbox>img{
    width:100%
}
.busstop-imgbox{
    width:200px;
    position: absolute;
    bottom:-30px;
    right:8%;
    
}
.busstop-imgbox>img{
    width:100%;
}
.bus-imgbox{
    width:250px;
    position: absolute;
    bottom:0px;
    right:5%;
}
.bus-imgbox>img{
    width:100%
}
